@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: rgb(36, 36, 36);
    display: flex;
    align-items: center;
    justify-content: center;
}

#container{
    display: grid;
    grid-template-columns: repeat(4, auto);
    height: 80%;
    width: 330px;
    justify-items: center;
    background: rgb(223, 223, 223);
    text-align: center;
    border-radius: 4px;
    grid-template-rows: 25px 80px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.445);
    padding: 5px;
}

.textt{
    grid-column: span 4;
    font-weight: bold;
    text-align: left;
    width: 318px;
    align-content: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

#calc{
    grid-column: span 4;
    width: 325px;
    background: white;
    text-align: end;
    align-content: center;
    font-size: 22px;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.247);
}

.num, .opera, .zero, .result{
    width: 96%;
    height: 96%;
    align-content: center;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.295);
    font-size: 20px;
}

.num, .zero {
    background: rgb(255, 255, 255);
}

.num:hover, .zero:hover{
    background: rgb(238, 238, 238);
}

.num:active, .zero:active{
    background: rgb(230, 230, 230);
}

.opera{
    background: rgb(108, 194, 223);
}

.opera:hover{
    background: rgb(93, 170, 196);
}

.opera:active{
    background: rgb(88, 161, 185);
}

.zero{
    grid-column: span 2;
}

.result{
    background: rgb(255, 110, 57);
}

.result:hover{
    background: rgb(221, 93, 47);
}

.result:active{
    background: rgb(202, 87, 44);
}