

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 10px;
  height: 100px;
  text-align: center;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  opacity: 0.5;
  cursor: pointer;
}

.swiper-slide:hover{
    opacity: 1;
}

.swiper-slide:hover span{
    border-bottom: 2px solid gray;
}


.swiper-slide.active span{
    border-bottom: 2px solid black;
}

.swiper-slide.active{
    opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 30px;
  height: 30px;
  object-fit: cover;
  margin-bottom: 2px;
}

.swiper-slide span{
    font-size: 11px;
    font-weight: 700;
    padding-bottom: 5px;
}

.swiper-button-prev::after{
    content: '';
}

.swiper-button-next::after{
    content: '';
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
}

.swiper-button-next{
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 20px 20px white;
}

.swiper-button-next.swiper-button-disabled, 
.swiper-button-prev.swiper-button-disabled{
    opacity: 0;
}

.swiper-button-prev::after{
    content: '';
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 8px;
    height: 8px;
    transform: rotate(140deg);
}

.swiper-button-prev{
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 1px solid #ccc;
    box-shadow: 5px 10px 20px 20px white;
}
