.slider{
    display: flex;
    position: relative;
    height: 5px;
    background: #ddd;
}

.progress{
    height: 100%;
    position: absolute;
    background: #464646;
}

.range-input{
    position: relative;
}

.range-input input{
    width: 100%;
    position: absolute;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none; 
    -moz-appearance: none;  
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb{
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0,0,0, 0.05);
    pointer-events: auto;
    -webkit-appearance: none;  
}

input[type="range"]::-moz-range-thumb{
    width: 25px;
    height: 25px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0,0,0, 0.05);
    pointer-events: auto; 
    -moz-appearance: none;
}